.sitename {
  color: rgb(58, 59, 58);
  height: 40px;
  width: 100%;
  margin: 15px;
  font-size: 25px;
}
.storeitem {
  margin: 50px;
  height: 200px;
}
.storebox {
  height: 200px;
  margin: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(225, 228, 223);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}
.storebox:hover {
  box-shadow: 3px 3px 15px rgba(49, 148, 9);
}
