h1 {
  font-family: "Roboto", sans-serif;
  color: white;
}

#storelist {
  text-align: left;
  width: 100%;
  height: auto;
}

#title-store-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: rgb(49, 148, 9);
  margin-top: 0px;
  margin-bottom: 30px;
}
