.AppTitle {
  background-color: rgb(49, 148, 9);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

ul {
  display: inline-block;
}

li {
  list-style-type: none;
}

span {
  margin: 5px;
}

.message {
  padding-left: 10px;
}
